<nav>
	<ul class="menu">
	  <li><a href="/register">Register</a></li>
	  <li><a href="/login">Log In</a></li>
	  <li><a href="/dashboard">Dashboard</a></li>
	  <li><a href="/logout">Log Out</a></li>
	</ul>
</nav>


<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<header>
				<h1>{{pageTitle}}</h1>
			</header>
		</div>
	</div>
</div>