<nav>
	<ul class="menu">
        {{#if user}}
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a onclick="logout();">Log Out</a></li>
        {{else}}
			<li><a href="/register">Register</a></li>
			<li><a href="/login">Log In</a></li>
        {{/if}}
	</ul>
</nav>


<div class="grid-container">
	<div class="grid-x grid-padding-x">
		<div class="large-12 cell">
			<header>
				<h1>{{pageTitle}}</h1>
			</header>
		</div>
	</div>
</div>