<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{pageTitle}}</title>
	    <link rel="stylesheet" href="/css/foundation.css">
	    <link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		{{> header}}
		<div class="grid-container">
     		<div class="grid-x grid-padding-x">
        		<div class="large-12 cell">
					
					<form onsubmit="register(); return false;">
						<label for = "email">Email</label>
						<input id = "email" type="email" name="email">
						<label for = "password">Password</label>
						<input id = "password" type="password" name="password">
						<label for = "password2">Confirm Password</label>
						<input id = "password2" type="password" name="password2">
						<input type="submit" class = "button" value="Register">
					</form>

				</div>
			</div>
		</div>
		{{> scripts}}	
	</body>

</html>